<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>

	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel= "stylesheet" type="text/css" href="css/styles.css">

	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>



</head>
<body ng-controller="myController">
	<div id="intro-page-wrapper">
		<div id="intro-page">
			<img id="logo" src="images/logo.png">
			<h1>Political tweets</h1>
			<p>This is a site built using AngularJS that shows current politically oriented tweets.  A user can click on the picture of Donald Trump or Hillary Clinton to pull up current tweets mentioning that candidate.  Each tweet has a counter that displays how long ago it was tweeted.  Every 15 seconds the site will check for new tweets and display in a bar how many tweets there are.</p>
			<button id="intro-button" onclick="viewProject()">View Project</button>
		</div>
	</div>

	<div id="total-page-wrapper" class="container">

		<div class="row">

			<div id="header">
				<div id="header-image" class="col-xs-4" ng-click="getTweets('trump', 'images/trumpbackground.jpg')"><img src="images/trumptweets.jpg">
				</div>
				<div id="header-text" class="col-xs-4">
				<h1>Who do you love to hate?</h1>
				<!-- <h3>?
				<button class="btn btn-primary" id="hate-trump-btn" ng-click="getHillaryTweets()">Click here</button></h3>
 -->				</div>
				<div id="right-header-image" ng-click="getTweets('hillary', 'images/hillarybackground.jpg')" class="col-xs-4"><img src="images/hitlery.jpg">
				</div>		

			</div>

		</div>

		<div id="more-tweets" ng-click="updateTweets()">
			<a href="#trump-tweets">Update tweets? {{countMessage}}</a>
		</div>
			
		
		<div ng-view id="trump-tweets">
			
		</div>
		
	</div>

</body>
</html>